@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@300;400;500;600;700&display=swap');

body {
  font-family: 'Urbanist', sans-serif;
  color: rgb(var(--foreground-rgb));
  background-color: #EDEFE3;
}

/* Diamond */
.diamond {
  position: absolute;
  width: 40px;
  height: 40px;
  margin: 2px;
}

/* General */

.container {
  padding: 0 10px;
  margin: 0 auto;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #ffffff;
  border-top: 4px solid #02AEEF;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  animation: spin 1s linear infinite;
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }

  .loading {
    width: 120px;
    height: 120px;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

/* Form Input */

.form-control {
  width: 100%;
  height: 34px;
  font-size: 14px;
}

@media (min-width: 1200px) {
  .form-control {
    width: 50%;
  }
}

.form-input {
  text-indent: 2px;
  border-radius: 5px;
  border: 0.5px solid #393e46;
  padding: 0.5em 0.8rem;
}

input::placeholder {
  color: #656D76;
}
